@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  background-color: khaki;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}

.box {
  background: #4d76ff;
  width: 400px;
  height: 150px;
  margin: 10px auto;
  color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  transform: translateX(200%);
  transition: transform 0.4s ease-in;
  max-width: 80%;
}

.box:nth-of-type(even) {
  transform: translateX(-200%);
}

.box.show {
  transform: translateX(0);
}
