@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', serif;
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#panel {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  text-align: center;
}

string {
  line-height: 20px;
}

.rating-customer {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  margin: 10px 5px;
  padding: 20px;
  cursor: pointer;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

small {
  color: #555;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.fa-heart {
  color: red;
  font-size: 30px;
  /* font-family: inherit; */
}

button {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

button:focus,
button:active {
  outline: 0;
}
